<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off" class="container mt-4" style="max-width: 500px;">
    <h2 class="text-center text-primary mb-4">Sign up</h2>
    <app-text-input [formControl]="$any(registerForm.controls['firstName'])" [label]="'First name'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['lastName'])" [label]="'Last name'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['patronymic'])" [label]="'Patronymic'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['country'])" [label]="'Country'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['city'])" [label]="'City'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['address'])" [label]="'Address'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['phone'])" [label]="'Phone'" appPhoneFormatter></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['password'])" [label]="'Password'" [type]="'password'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" [label]="'Confirm password'" [type]="'password'"></app-text-input>
    <div class="form-group text-center mt-3">
        <button 
            class="btn btn-success w-100 me-2" 
            type="submit" 
            [disabled]="registerForm.disabled"
            [class.disabled]="registerForm.disabled"
        >Register</button>
    </div>
    <p class="text-muted text-center mt-3">Already have an account? <a class="link-opacity-100" routerLink="/login">Login</a></p>
</form>
