@if (returnedCars.length > 0) {
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="text-center align-middle">Car</th>
                    <th scope="col" class="text-center align-middle">Start date</th>
                    <th scope="col" class="text-center align-middle">Return date</th>
                    <th scope="col" class="text-center align-middle">Final cost</th>
                    <th scope="col" class="text-center align-middle">Discount per day</th>
                    <th scope="col" class="text-center align-middle">Penalty</th>
                </tr>
            </thead>
            <tbody>
                @for (rental of returnedCars; track $index) {
                    <tr>
                        <td class="text-center align-middle">{{rental.car.brand}} {{rental.car.carModel}}</td>
                        <td class="text-center align-middle">{{rental.startDate | date: 'longDate'}}</td>
                        <td class="text-center align-middle">{{rental.actualReturnDate | date: 'longDate'}}</td>
                        <td class="text-center align-middle">{{currencyFormatter(rental.finalRentalCost)}}</td>
                        <td class="text-center align-middle">
                            @if (rental.discount) {
                                <span class="badge text-bg-success">{{currencyFormatter(rental.discount)}}</span>
                            } @else () {
                                <span class="badge text-bg-danger">{{currencyFormatter(0)}}</span>
                            }
                        </td>
                        <td class="text-center align-middle">
                            @if (rental.penalty) {
                                <span class="badge text-bg-danger">{{currencyFormatter(rental.penalty)}}</span>
                            } @else {
                                <span class="badge text-bg-success">{{currencyFormatter(0)}}</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>        
    </div>
} @else {
    <h5>You have no rental history yet</h5>
    <p>You can pick any car you like <a routerLink="/cars">here</a></p>
}