<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <div class="container d-flex align-items-center">
        <a class="navbar-brand" routerLink="/">Rental</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a routerLink="/cars" routerLinkActive="active" class="nav-link">Cars</a>
                </li>
                @if (authService.currentUser()) {
                    <li class="nav-item">
                        <a routerLink="/rentals" routerLinkActive="active" class="nav-link">Closed rents</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/rentals/active" routerLinkActive="active" class="nav-link">Active rents</a>
                    </li>
                }
            </ul>
            @if (authService.currentUser()) {
                <div class="dropdown ms-auto" dropdown>
                    <a dropdownToggle class="dropdown-toggle text-light text-decoration-none">
                        {{authService.currentUser()!.firstName | titlecase}} {{authService.currentUser()!.lastName | titlecase}}
                    </a>
                    <div *dropdownMenu class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" routerLink="/account">Account</a>
                        <a class="dropdown-item" (click)="logout()">Logout</a>
                    </div>
                </div>
            }
            @if (!authService.currentUser()) {
                <button class="btn btn-outline-light ms-auto" routerLink="/login">Login</button>
            }
        </div>
    </div>
</nav>
