<div class="modal-content rounded-4 shadow">
    <div class="modal-body p-5">
        <h2 class="fw-bold text-success mb-3 text-center">Thank you for choosing us!</h2>
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div class="form-group">
                    <form [formGroup]="rentalForm" autocomplete="off">
                        <label for="carDamaged" class="mb-1">Has the car been damaged?</label>
                        <app-radio-button
                            [formControl]="$any(rentalForm.controls['carDamaged'])" 
                            [options]="radioButtonOptions"
                        ></app-radio-button>
                    </form>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0">Damage penalty</h6>
                    <small class="text-body-secondary">Car has been damaged</small>
                </div>
                <span class="text-body-secondary">{{calculateDamagePenalty()}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0">Late return penalty</h6>
                    <small class="text-body-secondary">Return has been postponed</small>
                </div>
                <span class="text-body-secondary">{{calculateLateReturnPenalty()}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Total (USD)</span>
                <strong>{{calculateTotalPenalty()}}</strong>
            </li>
        </ul>
        <button type="button" class="btn btn-lg btn-primary mt-2 w-100" (click)="returnCar()">Great, thanks!</button>
    </div>
</div>